@model IEnumerable<PropensityTracker.Models.Habit>

@{
    ViewBag.Title = "Propensity Tracker";
}

<h2 class="form-title">Your Habits</h2>

<div class="table-responsive">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Time)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-link text-primary" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-link text-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="logout-link">
        <a href="@Url.Action("Logout", "Accounts")" class="btn btn-link">Logout</a>
    </div>
</div>

<p class="text-success">@TempData["InsertMessage"]</p>
<p class="text-success">@TempData["UpdateMessage"]</p>
<p class="text-danger">@TempData["DeleteMessage"]</p>
<p class="text-success">@TempData["msg"]</p>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-custom" })
</p>
